/* for FBML markup
*/

#wrapper {
	width:520px;
	margin:0 auto; border:0; padding:0;
	position:relative;
	font-family:Verdana, Geneva, sans-serif;
	font-size: smaller;
}

#non-fans {
	width:520px;
	position:absolute; top:0; left:0;
}

h3, h4 {
	color: 3b5998;
}

p.title1 {
	color: 3b5998;
	font-size: medium;
}